<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<% if (item) { %>
		<h1><%= item.username %></h1>
		<blockquote><%= item.comment %></blockquote>
		<br />
		<form method="post" action="/comments/<%= item.id%>?_method=DELETE">
			<button>Delete comment</button>
		</form>
		<br />
		<% } else { %>
		<blockquote>Comment not found</blockquote>
		<% } %>

		<a href="/comments"> see overview</a>
	</body>
</html>
