<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product not found</title>
	</head>
	<body>
		<h1>Product not found</h1>
		<a href="/products"> back to overview</a>
	</body>
</html>
